html{
	background-color: #d84146;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	font-size: 16px;
}
form{
	width: 50%;
    background-color: #fff;
    margin: 20px auto;
}
form > div {padding: 30px;}
.userForm h1 {
	background-color: #b02429;
	color: #fff;
	padding: 20px;
	margin: 0;
}
.userForm input {
	border: 1px solid #b02429;
    padding-left: 10px;
    height: 25px;
    width: 40%;
    border-radius: 5px;
    outline: none;
}
.userForm input[type="radio"] {width: 4%;}
.userForm textarea {
	border: 1px solid #b02429;
	border-radius: 5px;
}
.userForm label {
	color: #b02429;
	text-transform: uppercase;
	vertical-align: top;
}
.block {padding: 10px;}
.select {
    height: 25px;
    border: 1px solid #b02429;
    background-color: #fff;
    width: 150px;
    outline: none;
    font-size: 14px;
    color: gray;
}
.control-label {
	width: 30%;
	display: inline-block;
}
.radio {margin-right: 25px;}
.button {
	width: 90%;
	height: 40px;
	padding: 0;
	margin: 20px auto; 
	border: none;
    cursor: pointer;
    border-radius:  5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(216, 65, 82, 0.3)), to(#b02429));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(216, 65, 82, 0.3)), to(#b02429));
    color: #b02429;
    text-transform: uppercase;
    display: block;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
}
button:hover{
	background: #b02429;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#b02429), to(rgba(216, 65, 82, 0.3)));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#b02429), to(rgba(216, 65, 82, 0.3)));
}
button:active{
    background: #b02429;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#D60000), to(#F44336));
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#D60000), to(#F44336));
}
button:focus{
	outline: none;
}
}



